.root__container {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
  }
  
  /*
  ================
      Header
  ================
  */
  
  /*
      Slide Menu
  = = = = = = = = =
  */
  .side-menu__container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 25;
  }
  
  .side-menu__container-active {
    pointer-events: auto;
  }
  
  .side-menu__container::before {
    content: '';
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0c1066;
    opacity: 0;
    transition: opacity 300ms linear;
    will-change: opacity;
  }
  
  .side-menu__container-active::before {
    opacity: 0.3;
  }
  
  .slide-menu {
    box-sizing: border-box;
    transform: translateX(-103%);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 90%;
    max-width: 26rem;
    background-color: white;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    grid-gap: 1rem;
    transition: transform 300ms linear;
    will-change: transform;
  }
  
  .slide-menu-active {
    transform: none;
  }
  
  .menu-header {
    background: linear-gradient(to right, #00FF9B, #5f84fb);
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "greeting greeting" "image details";
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    color: white;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
  }
  
  .greeting__text {
    grid-area: greeting;
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
 
    justify-self: center;
    align-self: center;
  }
  
  .account-details {
    grid-area: details;
    display: flex;
    flex-flow: column;
    margin-left: 1rem;
    align-self: center;
  }
  
  .name__text {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
  }
  
  .email__text {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  
  .menu-body {
    display: grid;
    width: 100%;
  }
  
  .profile-image__container {
    grid-area: image;
    margin-right: 0.5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-self: center;
    margin-left: 2rem;
  }
  
  .profile__image {
    max-width: 4rem;
  }
  
  /*Header*/
  .main__header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    box-shadow: 0.4 0.4 0.4rem rgba 0.4rem(0, 0, 255, 0.1);
    height: 4rem;
    margin: 0;
    align-items: center;
    transition: background-color 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
    background: #FEBB0B;
    border-radius: 0.5rem;
    
    
  }
  
  .main__header-dark {
    background-color: #2B244D;
    color: white;
  }
  
  .toggle-button__container {
    cursor: pointer;
    position: relative;
    margin: 0 0.5rem;
  }
  
  .mode-toggle__input {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .mode-toggle__bg {
    height: 1rem;
    width: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    transition: background-color 300ms linear;
  }
  
  .mode-toggle__circle {
    height: 1.30rem;
    width: 1.30rem;
    background-color: #2B244D;
    position: absolute;
    top: -0.2rem;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
    transition: left 300ms linear;
    left: 0.1rem;
  }
  
  .mode-toggle__circle-checked {
    background-color: white;
    left: 1.75rem;
  }
  
  .mode-toggle__bg-checked {
    background-color: #FF0070;
  }
  
  .mode-toggle__text {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  
  /*Content*/
  .left__section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 5rem;
  }
  
  .date__text {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline;
    margin: 0.5rem 0;
  }
  
  /*SVGs*/
  .hamburger__icon {
    position: relative;
    z-index: 35;
    height: 1rem;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .logo__icon {
    height: 2rem;
    margin-left: 1rem;
  }
  
  .logo__text {
    fill: #2B244D;
  }
  
  .logo__text-dark {
    fill: #ffff;
  }
  
  .hamburger__icon__fill {
    fill: #2B244D;
  }
  
  .hamburger__icon__fill-dark {
    fill: #ffff;
  }
  
  /*
  ================
      Body
  ================
  */
  
  .main-container__bg {
    margin-top: -100px;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    background: white;
    transition: opacity 300ms linear;
  }
  
  .main-container__bg-dark {
    opacity: 1;
    background: linear-gradient(to bottom, #B290FF, #2E1D65);
    transition: opacity 300ms linear;
  }
  
  /*
  ================-
      Footer
  ================
  */
  .main__footer {
    background: transparent;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    z-index: 100;
  }
  
  .copyright__text {
    letter-spacing: 0.1rem;
    color: white;
  }
  



  

  
  .city-name__text {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  
  .temperature__text {
    align-self: end;
    width: 100%;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }
  
  .temperature-metric__text {
    text-align: start;
    font-size: 3rem;
  }
  
  .min-max__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .min__container, .max__container {
    margin: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .min-arrow__icon, .max-arrow__icon {
    height: 1.25rem;
    margin: auto;
  }
  
  .max-arrow__icon {
    margin-bottom: -0.05rem;
  }
  
  .weather-condition__text {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  
  .max__text {
    color: #FF0070;
  }
  
  .min__text {
    color: #00FF9B;
  }
  
  .max__text, .min__text {
    font-size: 1rem;
    text-align: center;
  }
  
  .max-temperature__text, .min-temperature__text {
    text-align: center;
    font-size: 2rem;
  }
  
  .weather-icon__container {
    width: 10rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .weather-icon__container > svg {
    width: 10rem;
  }
  
  .add-city-btn {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    padding: 1rem 2rem;
    color: white;
  
    background-color: #efeef5;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .add-city-btn:hover {
    background-color: #31feae;
  }
  
  .city-added-note {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: fadein 1s ease-in-out;
    width: 100%;
  }
  
  .add-success-text{
    font-size: 1.25rem;
  }



  .card-container {
    animation: mymove 1.2s;
    background-color: #3c837e;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
    color: #B3B8CD;
    padding: 30px 0 0;
    position: relative;
    width: auto;
    transition: width 2s;
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
    margin: 2rem;
    }

    .card-container1 {
      animation: mymove 1.2s;
      background-color: #3c837e;
      border-radius: 25px;
      box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
      color: #B3B8CD;
      padding: 5px 0 0;
      position: relative;
      width: 30%;
      transition: width 2s;
      text-align: center;
      margin: 20px 0;
      overflow: hidden;
      margin: 2rem;
      }

    .card-container1:hover{
      animation: mymove 2.2s;
      cursor: pointer;
      }
     
    .card-container .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
    }
     
    .card-container img {
    border: 1px solid #346c94;
    border-radius: 50%;
    padding: 7px;
    height: 150px;
    width: 150px;
    }
     
    button.primary {
    background-color: #3c837e;
    border: 1px solid white;
    border-radius: 3px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    margin: 0.5em;
    }
     
    button.primary.ghost {
    background-color: #FEBB0B;
    color: black;
    border: 1px solid #FEBB0B;
    
    }
     
    .skills {
    background-color: #1F1A36;
    text-align: center;
    padding: 15px;
    margin-top: 30px;

    }
     
    .skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
     
    .skills ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
    }

    body{
      margin: auto;
      
    }


    @media only screen and (max-width: 300px) {
      .slide-menu {
        width: 100%;
      }

      .root__container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 0.5fr auto;
        position: relative;
      }


      .card-container1 {
        animation: mymove 1.2s;
        background-color: #3c837e;
        border-radius: 25px;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
        color: #B3B8CD;
        padding: 5px 0 0;
        position: relative;
        width: 100%;
        transition: width 2s;
        text-align: center;
        margin: 20px 0;
        overflow: hidden;
        margin: 2rem;
        }
    }


    @keyframes mymove {
      from {top: 40px;}
      to {top: 0px;}
    }