<!-- Slide Menu-->
<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}" (click)="$event.stopImmediatePropagation();">
      <section class="menu-header">
          <span class="greeting__text">Welcome Back</span>
          <div class="profile-image__container">
              <img src="https://avatars3.githubusercontent.com/u/5658460?s=460&v=4" alt="profile-image"
                   class="profile__image">
          </div>
          <div class="account-details">
              <span class="name__text">Hamed Baatour</span>
              <span class="email__text">hamedbaatour@gmail.com</span>
          </div>
      </section>
      <section class="menu-body">
  
      </section>
      <section class="menu-footer">
  
      </section>
  </nav>
  </aside>
  
  <div class="root__container" >
      <header [ngClass]="{'main__header-dark': darkModeActive}" class="main__header">
  
          <div class="left__section">
            <svg (click)="toggleMenu()" class="hamburger__icon" id="Menu_Burger_Icon">
                <!-- hamburger icon svg code goes here-->  
            </svg>
  
              <svg class="logo__icon">
                <!-- logo svg code goes here-->
              </svg>
  
          </div>
  
          <h3 class="date__text">Profile</h3>
  
  
          <div class="mode-toggle__container">
              <span class="mode-toggle__text">Malhar Tanksale</span>
  
          </div>
  
      </header>
  
      <!-- Main Content -->
  
     
      <!-- <div class="main-container__bg"></div> -->



    
 
   
      
      <main class="main__container">
        <div class="card-container">
            <span class="pro">DEV</span>
            <!-- <img src="img/rahul.jpg" alt="user"/> -->
            <h3 style="font-size: 2.5em;color: white">Malhar Tanksale</h3>
            <h6 style="font-weight: bold; color:white">MEAN and App Developer</h6>
           
            <div class="buttons">
                <button class="primary">
                    Message
                </button>
                <button class="primary ghost">
                    Following
                </button>
            </div>
            <div class="skills">
                <h6>Skills</h6>
                <ul>
                    <li>Angular 4+</li>
                    <li>Ionic 5</li>
                    <li>Typescript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Node JS</li>
                    <li>Express JS</li>
                    <li>My SQL [Maria DB]</li>
                    <li>Android Development</li>
                </ul>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card-container1" style="display: inline-block;background-color: #FEBB0B;">
                <h3 style="font-size: 2.5em;color: black">Angular 6</h3>
                <div class="skills">
                    <span class="pro">API Integration,Components, Modules,
                        Services, Templates, DOM, Life Cycle of Angular, Material UI, RxJS,
                        Observables, ngIf,ngFor,ngOnInit,ngOnDestroy, Reactive Forms using
                        FormControl, Http Client, Routers, DOMSanitizer,ActivatedRoute,
                        Pipe,Axios, Chart JS, Chartist ,Fusioncharts, Asynchronous Coding</span>
                </div>
            </div>
    
    
            <div class="card-container1" style="display: inline-block;height: 100%;">
                <h3 style="font-size: 2.5em;color: white">Ionic 5</h3>
                <div class="skills">
                    <span class="pro">API Integration, Ion Items,Ionic Specific
                        TS,Cordova, HttpClient & Axios, Router, Hybrid Deployment for Android
                        and IOS, Deployment Experience on Google Play Store,Having experience in Typescript,ECMAScript 6 (Fat Arrow,Subscribe)
                         ,Managing Rest Service Calls using POSTMAN.</span>
                </div>
            </div>



            <div class="card-container1" style="display: inline-block;height: 100%;background-color: #FEBB0B;">
                <h3 style="font-size: 2.5em;color: black">Server Side</h3>
                <div class="skills">
                    <span class="pro">RESTful APIs using Node and Express JS,
                        CORS, Hosting , Body Parsers, PG (Pooling), GET/POST requests.
                        Python (Flask, Pandas ,Cursors, Dict, Append,
                        Loads, pyodbc,pymysql, template rendering), Cognizance in Android (Intent, SDK,
                        Adaptors, NFC, FCM, RecyclerView and ListView,Layouts,QR Generator and Scanner,Volley)</span>
                </div>
            </div>
            
        </div>
       

      </main>
  
      <!-- Footer -->
  
      <!-- <footer class="main__footer">
          <small class="copyright__text">Copyright © 2020 Malhar Tanksale</small>
      </footer> -->
  </div>